@layer Reset, Header, Button, Visual, Heading, Base, Typography, Space, Line, Breadcrumb, Footer, Align, Space;
:root {
  /* Colors */
  --orange: #f69740;
  --skyblue: #38c3ef;
  --green: #88d948;
  --blue: #6892d0;
  --yellow: #fac300;
  --gray3f: #3f3f3f;
  --gray33: #333333;
  --gray66: #666666;
  --gray99: #999999;
  --grayb4: #b4b4b4;
  --graycc: #cccccc;
  --grayd7: #d7d7d7;
  --graye0: #e0e0e0;
  --graye1: #e1e1e1;
  --graye2: #e2e2e2;
  --white: #ffffff;
  --in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
  --out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
  --inout-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
  --in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --inout-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --inout-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --inout-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --inout-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --inout-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
  --inout-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
  --in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  --out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --inout-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@layer Typography {
  .txt-type1 {
    color: var(--gray66);
    font-size: 1.4rem;
    font-weight: 500;
  }
  .txt-type1.fw400 {
    font-weight: 400;
  }
  .txt-type1.roboto {
    font-family: Roboto;
  }
}
@layer Space {
  .pt35 {
    padding-top: 3.5rem;
  }
}
@layer Line {
  .border-topd7 {
    border-top: 1px solid var(--grayd7);
  }
}
@layer Reset {
  @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
  /* Reset */
  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  div,
  p,
  blockquote,
  pre,
  code,
  address,
  ul,
  ol,
  li,
  nav,
  section,
  article,
  header,
  footer,
  main,
  aside,
  dl,
  dt,
  dd,
  table,
  thead,
  tbody,
  tfoot,
  label,
  caption,
  th,
  td,
  form,
  fieldset,
  legend,
  hr,
  input,
  button,
  textarea,
  object,
  figure,
  figcaption {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
  }
  body,
  input,
  select,
  textarea,
  button,
  img,
  fieldset {
    border: none;
  }
  ul,
  ol,
  li {
    list-style: none;
  }
  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
  }
  address,
  cite,
  code,
  em,
  i {
    font-style: normal;
    font-weight: normal;
  }
  label,
  img,
  input,
  select,
  textarea,
  button,
  a {
    vertical-align: middle;
  }
  u,
  ins,
  a {
    text-decoration: none;
  }
  button {
    cursor: pointer;
  }
  a {
    color: inherit;
  }
  /* Normalize */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }
  input[type=number],
  input[type=text],
  input[type=password],
  input[type=url],
  input[type=email],
  input[type=tel],
  input[type=date],
  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
  }
  input[type=search]::-webkit-search-decoration,
  input[type=search]::-webkit-search-cancel-button,
  input[type=search]::-webkit-search-results-button,
  input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
  input[type=date] {
    position: relative;
  }
  input[type=date]::-webkit-clear-button,
  input[type=date]::-webkit-inner-spin-button {
    display: none;
  }
  input[type=date]::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;
    color: transparent;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  input[type=date] {
    position: relative;
    width: 100px;
  }
  input[type=date]::before {
    content: attr(data-placeholder);
    width: 100%;
  }
  input[type=date]:valid::before {
    display: none;
  }
  select {
    appearance: none;
  }
  html {
    font-size: 62.5%;
    -webkit-text-size-adjust: none;
  }
  @media screen and (width < 900px) {
    html {
      font-size: 31.25%;
    }
  }
  body {
    font-size: 1rem;
  }
  caption,
  legend,
  .a11y-hidden {
    overflow: hidden;
    display: block;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
  @media print {
    .header,
    .footer,
    .visual {
      display: none;
    }
    .page-break {
      page-break-before: always;
    }
  }
  @page {
    margin: 1cm 2cm;
  }
  .print {
    display: block;
  }
  @media screen {
    .print {
      display: none;
    }
  }
}
@layer Button {
  .btn-login {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    color: var(--gray99);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -0.06rem;
    white-space: nowrap;
  }
  .btn-login::before {
    content: "";
    width: 1.6rem;
    height: 1.9rem;
    background: url(../images/ico_login.svg) no-repeat 0 0/contain;
  }
  @media screen and (width < 900px) {
    .btn-login {
      display: none;
    }
  }
  .btn-sitemap {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    color: var(--gray99);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -0.06rem;
    background: transparent;
    white-space: nowrap;
  }
  @media screen and (width < 900px) {
    .btn-sitemap span {
      position: absolute;
      width: 1px;
      height: 1px;
      overflow: hidden;
      clip: rect(1px, 1px, 1px, 1px);
    }
  }
  .btn-sitemap::before {
    content: "";
    width: 1.6rem;
    height: 1.9rem;
    background: url(../images/ico_sitemap.svg) no-repeat 0 0/contain;
  }
  @media screen and (width < 900px) {
    .btn-sitemap::before {
      width: 9rem;
      height: 9rem;
      background: url(../images/ico_sitemap_white.svg) no-repeat center/2.8rem auto;
    }
  }
  .btn-search {
    display: none;
    width: 9rem;
    height: 9rem;
    background: url(../images/ico_search.svg) no-repeat center/3.0414rem;
  }
  @media screen and (width < 900px) {
    .btn-search {
      display: block;
    }
  }
  .btn-type1 {
    padding: 1.4rem 3.3rem;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.6rem;
    letter-spacing: -0.02rem;
    text-align: center;
    border: 0.2rem solid var(--yellow);
    color: var(--yellow);
    background: var(--white);
    box-sizing: border-box;
    border-radius: 2.6rem;
  }
  .btn-type1.yellow {
    background: var(--yellow);
    color: var(--white);
  }
  .btn-type1.white {
    background: var(--white);
    border: 0.2rem solid var(--graye0);
    color: var(--gray99);
  }
  .btn-round {
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.6rem;
    letter-spacing: -0.02rem;
    text-align: center;
    color: var(--white);
  }
  .btn-round.gray {
    background: var(--graye2);
  }
  .btn-round.yellow {
    background: var(--yellow);
  }
  .btn-round.white {
    background: var(--white);
    border: 0.2rem solid var(--graycc);
  }
  .btn-round.large {
    width: 9rem;
    height: 9rem;
    box-shadow: 0.6rem 0.3rem 1.5rem 0px rgba(0, 0, 0, 0.06);
  }
  .btn-round.ico_prev::after {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.373rem;
    height: 2.123rem;
    background: url(../images/ico_arrow_gray.svg) no-repeat center center/24px;
    margin: 0 auto;
  }
  .btn-round.ico_next::after {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.373rem;
    height: 2.123rem;
    background: url(../images/ico_arrow_gray.svg) no-repeat center center/24px;
    margin: 0 auto;
    transform: rotate(-180deg);
  }
  .btn-round.ico_prev_white::after {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.373rem;
    height: 2.123rem;
    background: url(../images/ico_arrow_white.svg) no-repeat center center/24px;
    margin: 0 auto;
  }
  .btn-round.ico_next_white::after {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.373rem;
    height: 2.123rem;
    background: url(../images/ico_arrow_white.svg) no-repeat center center/24px;
    margin: 0 auto;
    transform: rotate(-180deg);
  }
  .btn-type2 {
    width: 100%;
    max-width: 66rem;
    padding: 3rem 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 0.1rem solid var(--gray99);
  }
  .btn-type2.more {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.9rem;
    text-align: center;
    background: var(--white);
  }
  .btn-type2.ico1::after {
    display: block;
    content: "";
    width: 1.3rem;
    height: 1.3rem;
    background: url(../images/ico_plus.svg) no-repeat 0 0/contain;
  }
  .badge-type1 {
    display: inline-block;
    padding: 1rem 1.6rem;
    color: var(--white);
    border-radius: 3.4rem;
    font-size: 1.4rem;
  }
  .badge-type1.orange {
    background: var(--orange);
  }
  .badge-type1.skyblue {
    background: var(--skyblue);
  }
  .badge-type1.green {
    background: var(--green);
  }
  .badge-type1.blue {
    background: var(--blue);
  }
  .badge-type1.gray1 {
    background: var(--grayb4);
  }
  .badge-type1.gray2 {
    background: var(--gray66);
  }
  .badge-type2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
    text-align: center;
    color: var(--white);
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
  }
  .badge-type2.orange {
    background: var(--orange);
  }
  .badge-type2.skyblue {
    background: var(--skyblue);
  }
  .badge-type2.green {
    background: var(--green);
  }
  .badge-type2.blue {
    background: var(--blue);
  }
  .badge-type2.gray1 {
    background: var(--grayb4);
  }
  .badge-type2.gray2 {
    background: var(--gray66);
  }
  .pagination {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .pagination .btn {
    width: 3.6rem;
    height: 3.6rem;
    background: var(--white);
    border-radius: 100%;
  }
  .pagination .btn.prev {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pagination .btn.prev a {
    width: 1.1rem;
    height: 1rem;
    display: block;
    background: url(../images/ico_page_gray.svg) no-repeat center/contain;
  }
  .pagination .btn.next {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pagination .btn.next a {
    width: 1.1rem;
    height: 1rem;
    display: block;
    background: url(../images/ico_page_gray.svg) no-repeat center/contain;
    transform: rotate(180deg);
  }
  .pagination li:nth-child(2) a {
    color: var(--gray66);
    font-weight: 700;
  }
  .pagination li a {
    font-family: Roboto;
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6rem;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--gray99);
  }
  .pagination li a.active {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 3.6rem;
    height: 3.6rem;
    background: var(--white);
    font-weight: 700;
  }
}
@layer Heading {
  .heading.regular {
    color: var(--gray33);
    font-size: 3.6rem;
    font-weight: 400;
    letter-spacing: -0.18rem;
    text-align: center;
  }
  .heading.small {
    color: var(--gray5c);
    font-weight: 300;
    font-size: 3.6rem;
    text-align: center;
  }
  .heading.small::after {
    content: "";
    display: block;
    margin: 2.8rem auto 0;
    background: var(--yellow);
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 100%;
  }
  @media screen and (width < 900px) {
    .heading.small::after {
      margin: 2.4rem auto 0;
    }
  }
}
@layer Visual {
  .visual {
    background: var(--yellow);
  }
  .visual .m0auto {
    display: flex;
    align-items: center;
    position: relative;
    height: 32rem;
  }
  @media screen and (width < 900px) {
    .visual .m0auto {
      flex-direction: column;
      justify-content: center;
    }
  }
  .visual__title {
    color: var(--white);
    font-size: 7.2rem;
    font-weight: 400;
    letter-spacing: -0.36rem;
  }
  @media screen and (width < 900px) {
    .visual__title {
      font-size: 5rem;
      letter-spacing: -0.25rem;
      line-height: 1;
    }
  }
  .visual__subtitle {
    display: none;
    color: var(--white);
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: -0.12rem;
    text-align: center;
  }
  @media screen and (width < 900px) {
    .visual__subtitle {
      display: block;
    }
  }
  .visual__img {
    position: absolute;
    right: 0;
    bottom: -4.7rem;
  }
  @media screen and (width < 900px) {
    .visual__img {
      display: none;
    }
  }
  .bg1 .visual__img::after {
    content: url(../images/img_visual1.png);
  }
  .bg2 .visual__img::after {
    content: url(../images/img_visual2.png);
  }
  .bg3 .visual__img::after {
    content: url(../images/img_visual3.png);
  }
  .bg4 .visual__img::after {
    content: url(../images/img_visual4.png);
  }
}
@layer Table {
  @media screen and (width < 900px) {
    .mobile-padding {
      padding: 0 3rem;
    }
  }
  .table-type1 {
    width: 100%;
  }
  .table-type1 .w150 {
    width: 15rem;
  }
  @media screen and (width < 900px) {
    .table-type1 .w150 {
      width: 100%;
    }
  }
  .table-type1 tr {
    height: 8.4rem;
  }
  @media screen and (width < 900px) {
    .table-type1 tr {
      display: block;
      height: auto;
      padding: 3rem 0;
    }
  }
  .table-type1 tr + tr {
    border-top: 1px solid var(--graye1);
  }
  .table-type1 tr th {
    color: var(--gray33);
    font-size: 1.6rem;
    font-weight: 500;
    text-align: left;
    padding-left: 3rem;
    box-sizing: border-box;
  }
  @media screen and (width < 900px) {
    .table-type1 tr th {
      display: block;
      font-size: 2.6rem;
      font-weight: 700;
      padding-left: 0;
      padding-bottom: 1rem;
    }
  }
  .table-type1 tr td {
    color: var(--gray66);
    font-size: 1.6rem;
    font-weight: 400;
    padding-left: 5.9rem;
  }
  @media screen and (width < 900px) {
    .table-type1 tr td {
      display: inline-block;
      width: 100%;
      padding-left: 0;
      font-size: 2.6rem;
    }
  }
}
@layer Breadcrumb {
  .breadcrumbs {
    display: flex;
    gap: 4.4rem;
  }
  .breadcrumbs li {
    position: relative;
  }
  .breadcrumbs li a {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.3rem;
    letter-spacing: -0.05em;
    text-align: left;
    color: var(--gray66);
  }
  .breadcrumbs li a.active {
    font-weight: 700;
    text-decoration: underline;
    color: var(--gray33);
  }
  .breadcrumbs li:first-child a {
    font-weight: 700;
  }
  .breadcrumbs li::after {
    position: absolute;
    top: 0;
    right: -3.4rem;
    display: block;
    content: "";
    width: 2.4rem;
    height: 2.4rem;
    background: url(../images/ico_arrow_bread.svg) no-repeat center/contain;
  }
  .breadcrumbs li:last-child::after {
    display: none;
  }
}
@layer Footer {
  .footer {
    background: var(--white);
    margin-top: 16.3rem;
  }
  @media screen and (width < 900px) {
    .footer {
      background: var(--gray3f);
    }
  }
  .footer__logo a {
    display: none;
  }
  @media screen and (width < 900px) {
    .footer__logo a {
      display: block;
      width: 9.6rem;
      height: 3.8rem;
      background: url(../images/logo_footer.svg) no-repeat center/contain;
      padding-bottom: 2rem;
    }
  }
  @media screen and (width < 900px) {
    .footer__banner img {
      width: 100%;
    }
  }
  .footer .inner {
    padding: 4.6rem 0 5.7rem 0;
  }
  @media screen and (width < 900px) {
    .footer .inner {
      padding: 3.7rem 3rem 3.8rem 3rem;
    }
  }
  .footer .align {
    gap: 24px;
    padding-bottom: 10px;
  }
  @media screen and (width < 900px) {
    .footer .align {
      display: block !important;
      gap: none;
      padding-bottom: 0;
    }
  }
  @media screen and (width < 900px) {
    .footer .txt-type1 {
      color: var(--graycc);
      font-size: 2rem;
      padding-bottom: 1rem;
    }
  }
  .footer .txt-type1.pt35 {
    padding-top: 5rem;
  }
  .footer .txt-type1:first-child {
    position: relative;
  }
  .footer .txt-type1:first-child::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -1.2rem;
    display: block;
    content: "";
    width: 0.4rem;
    height: 0.4rem;
    background: var(--gray66);
    border-radius: 100%;
  }
}
@layer Header.Logo {
  @media screen and (width < 900px) {
    .logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .logo img {
      width: 10.9rem;
    }
  }
}
@layer Header.Gnb {
  .gnb {
    display: flex;
    gap: 4rem;
  }
  @media screen and (width < 900px) {
    .gnb {
      display: none;
    }
  }
  .gnb a {
    position: relative;
    color: var(--gray33);
    font-size: 1.6rem;
    font-weight: 700;
  }
  .gnb a::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1rem solid var(--yellow);
    transform: scaleX(0);
    transition: 0.8s var(--inout-expo);
  }
  .gnb a:hover::after {
    transform: scaleX(1);
  }
}
@layer Header {
  @media screen and (width < 900px) {
    .header {
      position: relative;
      background-color: var(--yellow);
      border-bottom: 0.1rem solid rgba(255, 255, 255, 0.3);
    }
  }
  .header > div {
    height: 9rem;
    display: grid;
    align-items: center;
    grid-template-columns: 20.8rem 1fr min-content;
  }
  @media screen and (width < 900px) {
    .header > div {
      display: block;
    }
  }
  .header .utillity {
    display: flex;
    gap: 2.6rem;
    align-items: center;
  }
  @media screen and (width < 900px) {
    .header .utillity {
      justify-content: space-between;
    }
  }
}
@layer Base {
  .m0auto {
    margin: 0 auto;
    width: 122.4rem;
  }
  @media screen and (width < 900px) {
    .m0auto {
      width: 100%;
      margin: 0;
    }
  }
  .only-mobile {
    display: none;
  }
  @media screen and (width < 900px) {
    .only-mobile {
      display: block;
    }
  }
}
@layer Align {
  .align {
    display: flex;
  }
  .align.both {
    justify-content: space-between;
  }
  .align.right {
    justify-content: flex-end;
  }
  .align.center {
    justify-content: center;
  }
  .align.vt {
    align-items: flex-start;
  }
  .align.vm {
    align-items: center;
  }
  .align.vb {
    align-items: flex-end;
  }
  .txt-center {
    text-align: center;
  }
  .txt-right {
    text-align: right;
  }
  .txt-left {
    text-align: left;
  }
}
@layer Space {
  .mt10 {
    margin-top: 1rem;
  }
}/*# sourceMappingURL=style.css.map */